[tower]
localhost ansible_connection=local

[database]

[all:vars]
admin_password='redhat@123'

pg_host=''
pg_port=''

pg_database='awx'
pg_username='awx'
pg_password='password'


--------------new format
[all:vars]
admin_password='redhat@123'
pg_host=''
pg_port=''
pg_database='awx'
pg_username='awx'
pg_password='redhat@123'
tower_package_name='automation-controller'
tower_package_version='4.1.1'
automationhub_package_name='automation-hub'
automationhub_package_version='4.4.1'
automation_platform_version='2.1.1'
automation_platform_channel='ansible-automation-platform-2.1-for-rhel-8-x86_64-rpms'
minimum_ansible_version='2.11'
ansible_connection='local'
bundle_install='true'
# registry_username='faek.soussi'
# registry_password=""
# In AAP 2.X [tower] has been renamed to [automationcontroller]
# Nodes in [automationcontroller] will be hybrid by default, capable of executing user jobs.
# To specify that any of these nodes should be control-only instead, give them a host var of `node_type=control`
[automationcontroller]
localhost